{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">

        {% for form in formGroup %}

            <div class="row">
                <div class="col-12">
                    {% if form.property == "category" %}
                        <h1>{{ form.label }}</h1>
                        <hr>

                        {% if form.fields is defined %}
                            {% for field in form.fields %}

                                {% if field.type in ['text', 'number'] %}

                                    <div class="form-group">
                                        <label for="{{ field.property }}">{{ field.label }}</label>
                                        <input id="{{ field.property }}" name="{{ field.property }}"
                                               type="{{ field.property }}"
                                               placeholder="{{ field.placeholder is defined ? field.placeholder : null }}"
                                               class="form-control"
                                        {% if field.attr is defined %}
                                            {% for key, attr in field.attr %}
                                                {{ key }}="{{ attr }}"
                                            {% endfor %}
                                        {% endif %}
                                        >
                                    </div>

                                {% elseif field.type in ['checkbox', 'radio'] %}

                                    {{ field.label is defined ? field.label : null }}
                                    {% for choice in field.choices %}
                                        <div class="form-check">
                                            <input id="{{ choice.property }}" name="{{ field.name }}"
                                                   type="{{ field.type }}" class="form-check-input">
                                            <label for="{{ choice.property }}"
                                                   class="form-check-label">{{ choice.label }}</label>
                                        </div>
                                    {% endfor %}

                                {% elseif field.type in ['collection'] %}

                                    <select class="selectpicker" data-live-search="true">
                                        <option value="{{ 'field.varInEntity' }}">Test</option>
                                        <option value="{{ 'field.varInEntity' }}">Test2</option>
                                    </select>

                                {% endif %}

                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}